body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.441);
}

header{
    background-color:cornflowerblue;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    border: 1px solid grey;
    padding: 10px;
    text-align: left;
}

thead{
    background-color: powderblue;
    color: white;
}